* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

$cell-size: 100px;
$cell-margin: 1px;
$number-of-days: 28, 29, 30, 31;
$first-day-of-month:
  "mon" 0,
  "tue" $cell-size + $cell-margin,
  "wed" ($cell-size + $cell-margin) * 2,
  "thu" ($cell-size + $cell-margin) * 3,
  "fri" ($cell-size + $cell-margin) * 4,
  "sat" ($cell-size + $cell-margin) * 5,
  "sun" ($cell-size + $cell-margin) * 6;

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@each $number in $number-of-days {
  .calendar-#{$number} > div:nth-child(n  + #{$number + 1}) {
    display: none;
  }
}

@each $day, $size in $first-day-of-month {
  .calendar-#{$day} > div:first-child {
    margin-left: $size;
  }
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  min-width: ($cell-size + $cell-margin) * 7;
  max-width: ($cell-size + $cell-margin) * 7;
}

.calendar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 $cell-size;
  margin: $cell-margin / 2;
  height: $cell-size;
  font-size: 30px;
  background-color: #eee;
  border: 1px solid #000;
}

@keyframes hover {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
    background-color: #ffbfcb;
  }
}

.calendar > div:hover {
  position: relative;
  cursor: pointer;
  animation: hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
